# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/

# Home Assistant
.storage/
custom_components/*/__pycache__/

# Editors
.vscode/
.idea/
.DS_Store
